
sense + sense:before {
    content: "||";
}

body {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: block;
}

teiHeader {
    display: none;
}

orth { font-weight: bold; }
pron:before { content: "(" }
pron:after { content: ")" }

cit[type="display"] {
    display: block;
}

entry {
    display: block;
    text-align: justify;
    margin-bottom: 20px;
}

gramGrp {
    font-style: italic;
}

q {
    font-style: italic;
}

lg {
    display: block;
    margin-left: 20px;
}

l { display: block; }

bibl:before { content: "(" }
bibl:after { content: ")" }

bibl author { text-style: italic; }

