
orth {
    font-weight: bold;
    color: LightSlateGray;
}

TEI {
    display: block;
    margin: 20px;
    width: 700px;
}

teiHeader {
    display: none;
}

entry {
    display: block;
    margin-bottom: 20px;
}

pron {
    color: MediumAquaMarine;
}

quote:before, quote:after {
    content: " ' ";
}

quote {
    color: DarkCyan;
}

quote q {
    font-weight: bold;
}

q, quote {
    font-style: italic;
}

pron q:before {
    content: " ' ";
}

gramGrp {
     display: block;
     font-weight: bold;
     font-style: italic;
     color: MediumSeaGreen;
     padding: 3px;
}

sense {
     margin-bottom: 5px;
     display: block;
     text-align: justify;
}

ref {
     text-decoration: underline;
}
ref:hover {
     color: OliveDrab;
}

etym {
    color: Salmon;
}

usg {
    color: RosyBrown;
    display: block;
}

body {
    background-color: Tan;
    display: block;
}