orth {

	counter-reset: sense-counter;
    font-weight: bolder;
    font-size: large;
    font-variant: small-caps;
    font-family: arial;  
    display: block;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: grey;
    margin-bottom: 10px;
    
}
text {
    display: block;
    margin: 50px;
}
entry {
    display: block;
    margin-bottom: 30px;
}
pron {
    display: block;
}
gramGrp {
    display: block;
    color: olive;
    font-weight: bolder;
    font-variant: small-caps;
    font-family: arial;
    letter-spacing: 1px;
}
pron:before, pron:after {
    content: '/'
}
sense:before {
    content: counter(sense-counter) ". ";
}
    
sense {
	counter-increment: sense-counter;

    margin-bottom: 5px;
    display: block;
}
etym {
    padding: 3px;
    display: inline-block;
    border-top-color: grey;
    border-top-width: thin;
    border-top-style: solid;
}
etym:before {
    content: 'Formação ';
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
    
}
quote:before, quote:after {
    content: '"';
}

q, quote { 
    font-style: italic;
}
usg {
    color: green;
    font-style: italic;
}
title:before {
    content: '(';
}
title:after {
    content: ')';
}
author:before {
    content: '(';
}
author:after {
    content: ')';
}
lang {
    color: orange;
    font-style: italic;
}
xr {
    text-decoration: underline;
}
xr:hover {
    color: pink;
}