orth {
    font-weight: bold;
    color: rgb(255, 0, 0);
}

TEI{
    display: block;
    margin: 20px;
}

teiHeader{
    display: none;
}

entry {
    display: block;
    margin-bottom: 30px;
}

pron{
    color: rgb(0, 255, 0);
}

q, quote{ /* This is applied to all q and quote */
    font-style: italic;
}

pron q:before{ /* This is to q´s inside pron */
    content: "'";
}

gramGrp{
    font-weight: bold;
}

form{
    display: block;
}

sense{
   margin-bottom: 5px;
   display: block;
}

quote:before, quote:after{
    content: '"';
}

ref{
    text-decoration: underline;
}

ref:hover{
    color: pink;
}